api==0.0.7
attrs==18.2.0
Automat==0.7.0
beautifulsoup4==4.6.0
bleach==2.1.2
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
constantly==15.1.0
cycler==0.10.0
decorator==4.2.1
Django==2.1.4
djangorestframework==3.9.0
entrypoints==0.2.3
fake-useragent==0.1.10
future==0.16.0
get==0.0.39
google-api-python-client==1.6.7
graphviz==0.8.3
html2text==2018.1.9
html5lib==1.0.1
httplib2==0.11.3
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
kwconfig==1.1.7
lxml==4.6.3
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.4
nose==1.3.7
notebook==5.4.0
numpy==1.14.0
oauth2client==4.1.2
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
perl==0.1
pickleshare==0.7.4
pipenv==11.9.0
portier==0.1.2
post==0.0.26
prompt-toolkit==1.0.15
public==0.0.65
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyDispatcher==2.0.5
pydotplus==2.0.2
Pygments==2.2.0
PyHamcrest==1.9.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-whois==0.6.8
pythonwhois==2.4.3
pytz==2017.3
pywinpty==0.5.1
pyzmq==17.0.0
qtconsole==4.3.1
query-string==0.0.28
request==0.0.26
requests==2.18.4
rsa==3.4.2
schedule==0.5.0
scikit-learn==0.20.2
scipy==1.0.0
search-google==1.2.1
selenium==3.141.0
Send2Trash==1.5.0
seolib==0.1.3
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snowballstemmer==1.1.0
terminado==0.8.1
testpath==0.3.1
tld==0.7.10
tornado==4.5.3
traitlets==4.3.2
upgrade-ensurepip==0.1.2
uritemplate==3.0.0
urllib3==1.22
virtualenv==16.2.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.4
zope.interface==4.6.0
