<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>PHISH ROD</title>
      {% load static %}
	  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
	  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">

	<!-- Menu -->
	<nav class="menu" id="theMenu">
       <!--   <div id="chart-1">{{ output|safe }}</div> -->

		<div class="menu-wrap">
                   <!--   <div id="chart-1">{{ output|safe }}</div>-->

			<h1 class="logo"><a href="index.html#home">PHISH ROD</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="home" class="smoothScroll">Home</a>
			<a href="home#about" class="smoothScroll">About Us</a>
			<a href="stat" class="smoothScroll">Statistics</a>
			<a href="home#contact" class="smoothScroll">Contact Us</a>

			<a href="#"><i class="icon-facebook"></i></a>
			<a href="#"><i class="icon-envelope"></i></a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
	</nav>
  <section id="stat" name="stat"></section>
	<div id="headerwrap">
		<div class="container">
            <div class="row" id="chart-1">{{ output1|safe }}</div>


            <br>
                <script src="{% static 'phish/js/main.js' %}"></script>

		</div>
		<div class="container">
            <div class="row" id="chart-2">{{ output2|safe }}</div>


            <br>
                <script src="{% static 'phish/js/main.js' %}"></script>

		</div>
	</div>


  		<script src="{% static 'phish/js/classie.js' %}"></script>
		<script src="{% static 'phish/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'phish/js/smoothscroll.js' %}"></script>
		<script src="{% static 'phish/js/main.js' %}"></script>

</body>
</html>